<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="theme-color" content="black"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="/static/app.js" type="application/javascript" defer></script>
        <title>Unibrowse</title>
    </head>
    <body>
        <noscript>
            <h4>JavaScript must be enabled to use Unibrowse.</h4>
        </noscript>
        <div id="root">
        </div>
    </body>
</html>
