// Bulma defaults
$body-overflow-x: auto;
$body-overflow-y: auto;
$box-shadow: none;
$input-shadow: none;
$link: #33c3f0;
$speed: 250ms;

// Import Bulma
@import 'bulma/sass/helpers/_all.sass';
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/elements/_all.sass';

// App variables
$app-light-color: $white;
$app-primary-color: $link;
$app-background-color: #f2f4f6;
$app-border-radius: $input-radius;
$app-border-radius-circle: 50%;
$app-border-color: $border;
$app-border-style: solid;
$app-border-width: 1px;
$app-border: $app-border-width $app-border-style $app-border-color;
$app-font-size-small: $small-font-size;
$app-space-1: $size-7 / 2;
$app-space-2: $size-7;
$app-space-3: $size-6;
$app-space-4: $size-3;
$app-space-5: $size-1;
$app-transition: $speed ease;

// App theme
$app-app-max-width: 1600px;
$app-app-padding: 0 $app-space-4;
$app-app-section-margin-top: $app-space-5;
$app-app-section-margin-bottom: $app-space-4;
$app-card-background: $app-light-color;
$app-card-border-radius: $app-border-radius;
$app-card-border: $app-border;
$app-card-hover-transform: scale(1.1);
$app-card-padding: $app-space-3;
$app-card-transition: $app-transition;
$app-card-width: 150px;
$app-card-character-background: $app-background-color;
$app-card-character-border: $app-card-border;
$app-card-character-border-radius: $app-card-border-radius;
$app-card-character-height: 55px;
$app-card-character-line-height: 1.2;
$app-card-character-margin: 0 0 $app-space-2 0;
$app-card-character-padding: $app-space-2;
$app-card-subtitle-font-size: $app-font-size-small;
$app-checkbox-border: $app-border-width $app-border-style $app-border-color;
$app-checkbox-border-radius: $app-border-radius;
$app-checkbox-margin: $app-space-3;
$app-checkbox-size: 20px;
$app-checkbox-transition: $app-transition;
$app-checkbox-checked-background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWdvbiBmaWxsPSIjZmZmIiBwb2ludHM9IjEyIDEgNSA3LjUgMiA1IDEgNS41IDUgMTAgMTMgMS41Ii8+PC9zdmc+');
$app-checkbox-checked-background-color: $link;
$app-details-background: $app-light-color;
$app-details-border: $app-border;
$app-details-font-size: $app-font-size-small;
$app-details-list-margin: $app-space-3;
$app-fallback-color: $app-primary-color;
$app-fallback-padding: $app-space-5 0;
$app-fallback-icon-margin: $app-space-3;
$app-fallback-icon-size: 3rem;
$app-icon-offset: -0.125rem;
$app-icon-size: 1.5rem;
$app-input-border-width: $app-border-width;
$app-input-margin: $app-space-3;
$app-input-transition: $app-transition;
$app-options-label-margin: $app-space-4;
$app-options-label-text-margin: $app-space-1;
$app-page-child-margin: $app-space-3 / 2;
$app-panel-margin: $app-space-3 * 6;
$app-panel-child-margin: $app-space-1;
$app-radio-border-radius: $app-border-radius-circle;
$app-radio-checked-background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGZpbGw9IiNmZmYiIGN4PSI4IiBjeT0iOCIgcj0iMiIvPjwvc3ZnPg==');

@mixin app-fallback($color) {
  padding: $app-fallback-padding;
  text-align: center;

  & svg {
    color: $color;
    margin-bottom: $app-fallback-icon-margin;
    width: $app-fallback-icon-size;
    height: $app-fallback-icon-size;
  }
}

@mixin app-page() {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;

  & > * {
    margin: $app-page-child-margin;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .title, .is-#{$i};
  }
}

html {
  background-color: $app-background-color;
}

input {
  &[type=search] {
    @extend .input, .is-large, .is-rounded;
  }
}

fieldset,
input {
  margin-bottom: $app-input-margin;
}

label {
  &:has(input[type=checkbox]) {
    @extend .checkbox;
  }

  &:has(input[type=radio]) {
    @extend .radio;
  }
}

.app {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $app-app-max-width;
  padding: $app-app-padding;
  position: relative;

  & > section {
    margin-top: $app-app-section-margin-top;
    margin-bottom: $app-app-section-margin-bottom;
    text-align: center;

    & > * {
      margin: 0;
    }
  }
}

.card {
  background: $app-card-background;
  border: $app-card-border;
  border-radius: $app-card-border-radius;
  cursor: pointer;
  padding: $app-card-padding;
  text-align: center;
  transition: $app-card-transition;
  width: $app-card-width;

  &:hover {
    transform: $app-card-hover-transform;
  }

  & > h4 {
    background: $app-card-character-background;
    border: $app-card-character-border;
    border-radius: $app-card-character-border-radius;
    height: $app-card-character-height;
    line-height: $app-card-character-line-height;
    margin: $app-card-character-margin;
    padding: $app-card-character-padding;
  }

  &-subtitle {
    font-size: $app-card-subtitle-font-size;
    margin: 0;

    & > dt {
      font-weight: bold;
    }

    & > dd {
      margin: 0;
    }
  }
}

.checkbox,
.radio {
  display: flex;
  align-items: center;
  margin-right: $app-checkbox-margin;
}

.checkbox > input,
.radio > input {
  appearance: none;
  background: white no-repeat 50% 50%;
  border: $app-checkbox-border;
  box-sizing: border-box;
  cursor: pointer;
  font: inherit;
  overflow: hidden;
  transition: $app-checkbox-transition;
  vertical-align: middle;
  width: $app-checkbox-size;
  height: $app-checkbox-size;

  &:checked {
    background-color: $app-checkbox-checked-background-color;
    border-color: transparent;
  }

  &:checked,
  &:active,
  &:focus {
    appearance: none;
    outline: transparent none;
  }
}

.checkbox > input {
  border-radius: $app-checkbox-border-radius;

  &:checked {
    background-image: $app-checkbox-checked-background;
  }
}

.radio > input {
  border-radius: $app-radio-border-radius;

  &:checked {
    background-image: $app-radio-checked-background;
  }
}

.details {
  background: $app-details-background;
  border-top: $app-details-border;
  font-size: $app-details-font-size;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  & dl {
    margin: $app-details-list-margin;

    & > dt {
      font-weight: bold;
    }

    & > dd {
      margin: 0;
    }
  }
}

.fallback {
  @include app-fallback($app-fallback-color);
}

.icon {
  vertical-align: $app-icon-offset;
  width: $app-icon-size;
  height: $app-icon-size;
}

.input {
  border-width: $app-input-border-width;
  box-sizing: border-box;
  transition: $app-input-transition;
}

.options {
  display: flex;
  flex-wrap: wrap;

  & input,
  & label {
    margin: 0;
  }

  & > label {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: $app-options-label-margin;
    }
  }

  & span {
    font-weight: normal;
    margin-left: $app-options-label-text-margin;
  }
}

.page {
  &-left {
    @include app-page();
    left: 0;
  }

  &-right {
    @include app-page();
    right: 0;
  }
}

.panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: $app-panel-margin;

  & > * {
    margin: $app-panel-child-margin;
  }
}
