@use 'bulma' as *;

// Scheme variables
:root {
  // Bulma variables
  --bulma-link-h: 194;
  --bulma-link-s: 86%;
  --bulma-link-on-scheme-l: 57%;

  // App variables
  --app-complement: var(--bulma-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    // App variables
    --app-complement: var(--bulma-dark);
  }
}

// App general variables
$app-light-color: var(--app-complement);
$app-primary-color: var(--bulma-link);
$app-background-color: var(--bulma-body-background-color);
$app-border-radius: var(--bulma-radius);
$app-border-radius-circle: 50%;
$app-border-color: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-border-l));
$app-border-style: solid;
$app-border-width: 1px;
$app-border: $app-border-width $app-border-style $app-border-color;
$app-border-input: $app-border-width $app-border-style var(--bulma-input-border-color);
$app-font-size-small: small;
$app-space-1: 0.5rem;
$app-space-2: 0.75rem;
$app-space-3: 1rem;
$app-space-4: 1.25rem;
$app-space-5: 1.5rem;
$app-transition: var(--bulma-duration) ease;

// App component variables
$app-app-gap: calc($app-space-5 * 2);
$app-app-max-width: 1200px;
$app-app-padding: 0 $app-space-4;
$app-app-section-margin-bottom: $app-space-4;
$app-app-section-subtitle-font-weight: 200;
$app-app-margin: 75px auto;
$app-card-background: $app-light-color;
$app-card-border-radius: $app-border-radius;
$app-card-border: $app-border;
$app-card-hover-transform: scale(1.1);
$app-card-padding: $app-space-3;
$app-card-transition: $app-transition;
$app-card-width: 175px;
$app-card-character-background: $app-background-color;
$app-card-character-border: $app-card-border;
$app-card-character-border-radius: $app-card-border-radius;
$app-card-character-height: calc($app-space-3 * 4);
$app-card-character-line-height: 1.2;
$app-card-character-margin: 0 0 $app-space-2 0;
$app-card-character-padding: $app-space-2;
$app-card-subtitle-font-size: $app-font-size-small;
$app-details-background: $app-light-color;
$app-details-border: $app-border-input;
$app-details-font-size: $app-font-size-small;
$app-details-list-margin: $app-space-3;
$app-fallback-color: $app-primary-color;
$app-fallback-padding: $app-space-5 0;
$app-fallback-icon-margin: $app-space-3;
$app-fallback-icon-size: calc($app-space-3 * 4);
$app-form-options-gap: calc($app-space-3 * 2);
$app-icon-offset: -0.125rem;
$app-icon-size: $app-space-5;
$app-input-border-width: $app-border-width;
$app-input-margin: $app-space-3;
$app-input-transition: $app-transition;
$app-page-button-hover-color: $app-primary-color;
$app-page-button-child-margin: calc($app-space-3 / 2);
$app-panel-gap: $app-space-4;
$app-radio-border: $app-border-width $app-border-style $app-border-color;
$app-radio-border-radius: $app-border-radius-circle;
$app-radio-checked-background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGZpbGw9IiNmZmYiIGN4PSI4IiBjeT0iOCIgcj0iMiIvPjwvc3ZnPg==');
$app-radio-checked-background-color: $app-primary-color;
$app-radio-margin: $app-space-1;
$app-radio-size: $app-space-4;
$app-radio-transition: $app-transition;

// App components
@mixin app-fallback($color) {
  padding: $app-fallback-padding;
  text-align: center;

  & svg {
    color: $color;
    margin-bottom: $app-fallback-icon-margin;
    width: $app-fallback-icon-size;
    height: $app-fallback-icon-size;
  }
}

@mixin app-page-button() {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;

  &:hover {
    & > * {
      color: $app-page-button-hover-color;
    }
  }

  & > * {
    margin: $app-page-button-child-margin;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .title, .is-#{$i};
  }
}

html {
  background-color: $app-background-color;
}

input {
  &[type=text] {
    @extend .input, .is-large, .is-rounded;
  }
}

input {
  margin-bottom: $app-input-margin;
}

label {
  &:has(input[type=radio]) {
    @extend .radio;
  }
}

.app {
  gap: $app-app-gap;
  display: flex;
  flex-direction: column;
  margin: $app-app-margin;
  max-width: $app-app-max-width;
  padding: $app-app-padding;
  position: relative;

  & > section {
    text-align: center;

    & > * {
      margin: 0;
    }

    & > h5 {
      font-weight: $app-app-section-subtitle-font-weight;
    }
  }
}

.card {
  background: $app-card-background;
  border: $app-card-border;
  border-radius: $app-card-border-radius;
  box-shadow: none;
  cursor: pointer;
  margin: 0 !important;
  padding: $app-card-padding;
  text-align: center;
  transition: $app-card-transition;
  width: $app-card-width;

  &:hover {
    transform: $app-card-hover-transform;
  }

  & > h4 {
    background: $app-card-character-background;
    border: $app-card-character-border;
    border-radius: $app-card-character-border-radius;
    height: $app-card-character-height;
    line-height: $app-card-character-line-height;
    margin: $app-card-character-margin;
    padding: $app-card-character-padding;
  }

  &-subtitle {
    font-size: $app-card-subtitle-font-size;
    margin: 0;

    & > dt {
      font-weight: bold;
    }

    & > dd {
      margin: 0;
    }
  }
}

.radio {  
  display: flex;
  align-items: center;
}

.radio > input {
  appearance: none;
  background: transparent no-repeat 50% 50%;
  border: $app-radio-border;
  overflow: hidden;
  transition: $app-radio-transition;
  width: $app-radio-size;
  height: $app-radio-size;
  margin-right: $app-radio-margin;

  &:checked {
    background-color: $app-radio-checked-background-color;
    border-color: transparent;
  }

  &:checked,
  &:active,
  &:focus {
    appearance: none;
    outline: transparent none;
  }
}

.radio > input {
  border-radius: $app-radio-border-radius;

  &:checked {
    background-image: $app-radio-checked-background;
  }
}

.details {
  background: $app-details-background;
  border-top: $app-details-border;
  font-size: $app-details-font-size;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  & dl {
    margin: $app-details-list-margin;

    & > dt {
      font-weight: bold;
    }

    & > dd {
      margin: 0;
    }
  }
}

.fallback {
  @include app-fallback($app-fallback-color);
}

.form {
  &-options {
    gap: $app-form-options-gap;
    display: flex;
    flex-wrap: wrap;

    & input,
    & label {
      margin: 0;
    }

    & > label {
      display: flex;
      align-items: center;
      margin: 0 !important;
    }
  }
}

.icon {
  vertical-align: $app-icon-offset;
  width: $app-icon-size;
  height: $app-icon-size;
}

.input {
  border-width: $app-input-border-width;
  transition: $app-input-transition;
}

.page {
  &-button {
    &-left {
      left: 0;

      & {
        @include app-page-button();
      }
    }

    &-right {
      right: 0;

      & {
        @include app-page-button();
      }
    }
  }
}

.panel {
  gap: $app-panel-gap;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: none;
}
