// Variables
$ub-background-color: #f2f4f6;
$ub-base-font-color: #222222;
$ub-base-font-family: (
  'Noto Sans', ProximaNova, -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif
);
$ub-base-font-size: 16px;
$ub-base-font-weight: normal;
$ub-base-line-height: 1.5;
$ub-box-shadow-small: 0 2px 8px rgba(0, 0, 0, 0.08);
$ub-card-border-color: darken($ub-background-color, 2.5%);
$ub-card-header-height: 55px;
$ub-card-width: 150px;
$ub-gutter-small: 10px;
$ub-gutter-xsmall: 5px;
$ub-margin-large: 60px;
$ub-margin-medium: 30px;
$ub-margin-small: 15px;
$ub-border-circle: 50%;
$ub-border-pill: 50px;
$ub-border-round: 5px;
$ub-border-style: 1px solid;
$ub-button-border-color: #bbbbbb;
$ub-button-border-hover-color: darken($ub-button-border-color, 15%);
$ub-button-font-color: #555555;
$ub-button-font-hover-color: darken($ub-button-font-color, 15%);
$ub-button-font-size: 12px;
$ub-button-height: 40px;
$ub-button-line-height: ($ub-button-height - 4px);
$ub-code-background-color: #f1f1f1;
$ub-code-border-color: darken($ub-code-background-color, 15%);
$ub-code-font-size: 90%;
$ub-code-gutter-horizontal: 2px;
$ub-code-gutter-vertical: 5px;
$ub-container-max-width: 1600px;
$ub-fallback-error-color: #ff3140;
$ub-fallback-icon-size: (100% * 3.5);
$ub-fallback-loading-speed: 500ms;
$ub-font-size-small: 80%;
$ub-full-width: 100%;
$ub-h1-font-size: 4.0rem;
$ub-h1-line-height: 1.2;
$ub-h2-font-size: 3.5rem;
$ub-h2-line-height: 1.25;
$ub-h3-font-size: 3.0rem;
$ub-h3-line-height: 1.3;
$ub-h4-font-size: 2.5rem;
$ub-h4-line-height: 1.35;
$ub-h5-font-size: 2.0rem;
$ub-h5-line-height: 1.4;
$ub-h6-font-size: 1.5rem;
$ub-h6-line-height: 1.45;
$ub-input-border-color: $ub-code-border-color;
$ub-input-height: $ub-button-height;
$ub-input-padding: $ub-gutter-small;
$ub-input-radio-size: $ub-base-font-size;
$ub-input-width: $ub-full-width;
$ub-label-margin: $ub-gutter-xsmall;
$ub-light-color: white;
$ub-primary-color: #33c3f0;
$ub-primary-hover-color: darken($ub-primary-color, 10%);
$ub-search-box-shadow: 0 0 0 5px rgba($ub-primary-color, 0.15);
$ub-search-font-size: 150%;
$ub-search-height: 50px;
$ub-search-padding: ($ub-search-height / 2);
$ub-svg-checkbox: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxNCAxMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWdvbiBmaWxsPSIjZmZmIiBwb2ludHM9IjEyIDEgNSA3LjUgMiA1IDEgNS41IDUgMTAgMTMgMS41Ii8+PC9zdmc+';
$ub-svg-radio: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGZpbGw9IiNmZmYiIGN4PSI4IiBjeT0iOCIgcj0iMiIvPjwvc3ZnPg==';
$ub-transition: 200ms ease;

// Mixins
@mixin ub-fallback($color) {
  padding: $ub-margin-large 0;
  text-align: center;

  & svg {
    color: $color;
    font-size: $ub-fallback-icon-size;
    margin-bottom: $ub-margin-small;
  }
}

@mixin ub-page {
  color: $ub-base-font-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;

  & > * {
    margin: ($ub-margin-small / 2);
  }
}

// Base
html {
  background-color: $ub-background-color;
  color: $ub-base-font-color;
  font-family: $ub-base-font-family;
  font-size: $ub-base-font-size;
  font-weight: $ub-base-font-weight;
  line-height: $ub-base-line-height;
}

noscript {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}

// Typography
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $ub-margin-medium;
}

h1 {
  font-size: $ub-h1-font-size;
  line-height: $ub-h1-line-height;
}

h2 {
  font-size: $ub-h2-font-size;
  line-height: $ub-h2-line-height;
}

h3 {
  font-size: $ub-h3-font-size;
  line-height: $ub-h3-line-height;
}

h4 {
  font-size: $ub-h4-font-size;
  line-height: $ub-h4-line-height;
}

h5 {
  font-size: $ub-h5-font-size;
  line-height: $ub-h5-line-height;
}

h6 {
  font-size: $ub-h6-font-size;
  line-height: $ub-h6-line-height;
}

// Links
a {
  color: $ub-primary-color;

  &:hover, &:focus {
    color: $ub-primary-hover-color;
  }
}

// Buttons
.button, button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  background-color: transparent;
  border-radius: $ub-border-round;
  border: $ub-border-style $ub-button-border-color;
  box-sizing: border-box;
  color: $ub-button-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: $ub-button-font-size;
  font-weight: bold;
  height: $ub-button-height;
  line-height: $ub-button-line-height;
  padding: 0 $ub-margin-medium;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:active {
    transform: scale(0.98);
  }

  &:hover, &:focus {
    border-color: $ub-button-border-hover-color;
    color: $ub-button-font-hover-color;
    outline: 0;
  }

  &.button-primary {
    background-color: $ub-primary-color;
    border-color: $ub-primary-color;
    color: $ub-light-color;

    &:hover, &:focus {
      background-color: $ub-primary-hover-color;
      border-color: $ub-primary-hover-color;
      color: $ub-light-color;
    }
  }
}

// Forms
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select, textarea {
  background-color: $ub-light-color;
  border: $ub-border-style $ub-input-border-color;
  border-radius: $ub-border-round;
  box-shadow: none;
  box-sizing: border-box;
  width: $ub-input-width;
  height: $ub-input-height;
  padding: $ub-input-padding;
  transition: $ub-transition;

  &:focus {
    border: $ub-border-style $ub-primary-color;
    outline: 0;
  }
}

input[type='search'] {
  border-radius: $ub-border-pill;
  font-size: $ub-search-font-size;
  padding: 0 $ub-search-padding;
  height: $ub-search-height;

  &:active, &:focus {
    box-shadow: $ub-search-box-shadow;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

input[type='checkbox'],
input[type='radio'] {
  background: $ub-light-color no-repeat 50% 50%;
  border: $ub-border-style $ub-input-border-color;
  box-sizing: border-box;
  cursor: pointer;
  font: inherit;
  overflow: hidden;
  transition: $ub-transition;
  vertical-align: middle;
  width: $ub-input-radio-size;
  height: $ub-input-radio-size;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:checked {
    background-color: $ub-primary-color;
    border-color: transparent;
  }

  &:checked, &:active, &:focus {
    outline: transparent none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

input[type='checkbox'] {
  border-radius: $ub-border-round;

  &:checked {
    background-image: url($ub-svg-checkbox);
  }
}

input[type='radio'] {
  border-radius: $ub-border-circle;

  &:checked {
    background-image: url($ub-svg-radio);
  }
}

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

label, legend {
  display: block;
  font-weight: bold;
  margin-bottom: $ub-label-margin;
}

textarea {
  resize: vertical;
}

// Lists
ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ol ol, ol ul,
ul ol, ul ul {
  margin: 0 0 0 $ub-margin-medium;
}

// Code
code {
  padding: $ub-code-gutter-horizontal $ub-code-gutter-vertical;
  margin: 0 $ub-code-gutter-horizontal;
  font-size: $ub-code-font-size;
  white-space: nowrap;
  background: $ub-code-background-color;
  border: $ub-border-style $ub-code-border-color;
  border-radius: $ub-border-round;
}

pre > code {
  display: block;
  padding: $ub-margin-small $ub-margin-small;
  white-space: pre;
}

// Tables
table {
  width: $ub-full-width;
}

tbody > tr {
  &:nth-child(even) {
    background-color: $ub-light-color;
  }
}

th {
  font-weight: bold;
}

th, td {
  padding: $ub-gutter-xsmall $ub-gutter-small;
}

thead {
  background-color: $ub-light-color;
}

// Spacing
blockquote, dl, ol, ul, figure, form, p, pre, table {
  margin-bottom: $ub-margin-medium;
}

button, .button {
  margin-bottom: $ub-margin-small;
}

fieldset, input, select, textarea {
  margin-bottom: $ub-margin-small;
}

hr {
  border-width: 0;
  border-top: $ub-border-style $ub-code-border-color;
  margin: $ub-margin-medium 0;
}

// Custom classes
.card {
  background-color: $ub-light-color;
  border-radius: $ub-border-round;
  box-shadow: $ub-box-shadow-small;
  padding: $ub-margin-small;
  transition: $ub-transition;
  width: $ub-card-width;

  &:hover {
    transform: scale(1.1);
  }

  &-header {
    text-align: center;

    & > h4 {
      background-color: $ub-background-color;
      border: $ub-border-style $ub-card-border-color;
      border-radius: $ub-border-round;
      height: $ub-card-header-height;
      line-height: 1.2;
      margin: 0 0 $ub-gutter-small 0;
      padding: $ub-gutter-small;
    }
  }

  &-subtitle {
    font-size: $ub-font-size-small;
    margin: 0;

    & > dt {
      font-weight: bold;
    }

    & > dd {
      margin: 0;
    }
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $ub-container-max-width;
  padding: 0 $ub-margin-medium;
  position: relative;
}

.details {
  background-color: $ub-light-color;
  box-shadow: $ub-box-shadow-small;
  font-size: $ub-font-size-small;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  & dl {
    margin: $ub-margin-small;

    & > dt {
      font-weight: bold;
    }

    & > dd {
      margin: 0;
    }
  }
}

.fallback {
  &-error {
    @include ub-fallback($ub-fallback-error-color);
  }

  &-loading {
    @include ub-fallback($ub-primary-color);
  }
}

.header {
  margin-top: $ub-margin-large;
  margin-bottom: $ub-margin-medium;
  text-align: center;

  & > * {
    margin: 0;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;

  & input,
  & label {
    margin: 0;
  }

  & > label {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: $ub-margin-medium;
    }
  }

  & span {
    font-weight: normal;
    margin-left: $ub-label-margin;
  }
}

.page {
  &-left {
    left: 0;
    @include ub-page;
  }

  &-right {
    right: 0;
    @include ub-page;
  }
}

.panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: ($ub-margin-small * 6);

  & > * {
    margin: $ub-gutter-xsmall;
  }
}

// Overridden classes
.fa-spin {
  animation-duration: $ub-fallback-loading-speed;
}
